<h1>New article</h1>

<div class="form">
  <%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit :class => "submit"%>
  <% end %>
</div>
